################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CIS109_MatchingGame/MatchingGame/.vs/MatchingGame/v16
/CIS109_MatchingGame/MatchingGame/obj/Debug
/MyMusicPlayer/.vs/MyMusicPlayer/v16
/MyMusicPlayer/obj/Debug
/PictureViewer/obj/Debug
/PictureViewer/.vs/PictureViewer/v16/Server/sqlite3
/PictureViewer/.vs/PictureViewer/v16
/MazeGame/MazeGame/obj/Debug
/MazeGame/.vs/MazeGame/v16/Server/sqlite3
/MazeGame/.vs/MazeGame/v16
